/* your styles go here */
.light-frame {
    border: 1px solid lightgray;
    padding: 5px;
}
.gainsboro-frame {
    border: 1px solid gainsboro;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.disabled {
    border: 1px solid #999999;
    background-color: darkgrey;
    color: #fff;
    padding: 10px;
    cursor: not-allowed;
}