/* your styles go here */
.light-frame {
    border: 1px solid lightgray;
    padding: 5px;
}
.gainsboro-frame {
    border: 1px solid gainsboro;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.disabled {
    border: 1px solid #999999;
    background-color: darkgrey;
    color: #fff;
    padding: 10px;
    cursor: not-allowed;
}
#link-cv {
    text-decoration: none;
}
#link-cv:hover {
    color: white;
    transition: 500ms;
}
.main-footer#footer-about-info-container{
    background-color: #444;
    padding-top: 10px;
    padding-bottom: 10px;
}
.statistics-section .icon i {
    font-size: 20px;
}
#footer-about-info-text {
    color: white;
    margin-bottom: 15px;
}
#footer-about-info-text span {
    vertical-align: middle;
    font-size: 18px;
}
#footer-about-info-text i {
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
}
#copyright-info {
    color: #999;
}
.customers-section img:hover {
    transform: translateY(-10px);
    transition: 250ms ease-in-out;
}
footer.main-footer p.social a:hover {
    background-color: black;
    transition: 500ms ease-in-out;
    color: white;
}