<section id="about" class="about-section">
	<div class="container">
		<header class="text-center">
			<h2 data-animate="fadeInDown" class="title">O mnie</h2>
		</header>
		<div class="row">
			<div data-animate="fadeInUp" class="col-lg-6">
				<h3>Programowanie webowe</h3>
				<hr />
				<p style="text-align: justify;">
					Mieszkam w Pabianicach. Lubię czytać książki, spędzać czas na grach strategicznych, czasem pisać wiersze.
					Rozwijam się od kilku lat jako projektant stron internetowych,
					zgłębiam zagadnienia z zakresu nowoczesnych technologii w obszarze: <strong>projektowania graficznego i
						programowania</strong>.
				</p>
				<p style="text-align: justify;">
					Swoją pierwszą aplikację napisałem w <strong>ActionScript 3</strong> z drobną pomocą interfejsu graficznego
					aplikacji <strong>Adobe Flash</strong>.
					Od zawsze fascynowały mnie technologie internetowe, więc zacząłem rozwijać się jako
					<strong>webdeveloper</strong>.
					W ciągu kilku lat zglębiłem wiele metodologii i języków programowania. Stworzyłem kilka udanych stron
					internetowych.
				</p>
				<h3>Kino</h3>
				<hr />
				<p style="text-align: justify;">
					Pasjonuje mnie sci-fi, obrazy światów utopii i antyutopii.
					Filmowa tematyka z pogranicza jawy i snu, klimaty oniryczno-surrealistyczne pociągnęły mnie w stronę Hasa,
					a studia nad materią filmową w kierunki fantastyki, sci-fi i nowoczesnych technologii.
				</p>
			</div>
			<div data-animate="fadeInUp" class="col-lg-6">
				<div class="skill-item">
					<div class="progress-title">HTML/CSS</div>
					<div class="progress">
						<div role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="80" aria-valuemax="100"
							class="progress-bar progress-bar-skill1"></div>
					</div>
				</div>
				<div class="skill-item">
					<div class="progress-title">Grafika reklamowa</div>
					<div class="progress">
						<div role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
							class="progress-bar progress-bar-skill2"></div>
					</div>
				</div>
				<div class="skill-item">
					<div class="progress-title">Wordpress</div>
					<div class="progress">
						<div role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
							class="progress-bar progress-bar-skill3"></div>
					</div>
				</div>
				<div class="skill-item">
					<div class="progress-title">SQL</div>
					<div class="progress">
						<div role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							class="progress-bar progress-bar-skill3"></div>
					</div>
				</div>
				<div class="skill-item">
					<div class="progress-title">Java</div>
					<div class="progress">
						<div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
							class="progress-bar progress-bar-skill4"></div>
					</div>
				</div>
				<div class="skill-item">
					<div class="progress-title">Python</div>
					<div class="progress">
						<div role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
							class="progress-bar progress-bar-skill5"></div>
					</div>
				</div>
				<div class="skill-item">
					<div class="progress-title">C++</div>
					<div class="progress">
						<div role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
							class="progress-bar progress-bar-skill6"></div>
					</div>
				</div>
			</div>
			<div data-animate="fadeInUp" class="col-sm-6 mx-auto mt-5"><img src="img/about.png" alt="This is me - IT worker"
					class="image rounded-circle img-fluid"></div>
		</div>
	</div>
</section>