<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center text-lg-left">
				<p class="social">
					<a href="https://www.facebook.com/cecherz" class="external facebook wow fadeInUp">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="https://github.com/pangeon" data-wow-delay="0.2s" class="external instagram wow fadeInUp">
						<i class="fa fa-github"></i>
					</a>
					<a href="https://www.linkedin.com/in/kamil-cecherz/" data-wow-delay="0.4s"
						class="external gplus wow fadeInUp">
						<i class="fa fa-linkedin" aria-hidden="true"></i>
					</a>
					<a href="mailto:cecherz@outlook.com" data-wow-delay="0.6s" class="email wow fadeInUp">
						<i class="fa fa-envelope"></i>
					</a>
				</p>
			</div>
			<div class="col-md-6 text-center text-lg-right mt-4 mt-lg-0">
				<p id="copyright-info">© 2022 Kamil Cecherz. Wszelkie prawa zastrzeżone.</p>
			</div>
			<div class="col-12 mt-4">
				<p class="template-bootstrapious">Template by <a
						href='https://bootstrapious.com/p/bootstrap-carousel'>Bootstrapious</a> & <a
						href="https://fity.cz/ostrava">Fity</a></p>
			</div>
		</div>
	</div>
</footer>