<section id="contact" data-animate="bounceIn" class="contact-section contact">
	<div class="container">
		<header class="text-center">
			<h2 class="title">Napisz do mnie</h2>
		</header>
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<form id="contact-form" method="post" action="php/contact.php" role="form">
					<div class="messages"></div>

					<div class="controls">
						<div class="row">
							<div class="col-md-6">
								<input type="text" name="name" placeholder="Imię *" required="required" class="form-control">
							</div>
							<div class="col-md-6">
								<input type="text" name="surname" placeholder="Nazwisko *" required="required" class="form-control">
							</div>
							<div class="col-md-6">
								<input type="text" name="email" placeholder="E-mail *" required="required" class="form-control">
							</div>
							<div class="col-md-6">
								<input type="text" name="phone" placeholder="Telefon" class="form-control">
							</div>
							<div class="col-md-12">
								<textarea name="message" placeholder="Treść wiadomości *" rows="4" required="required"
									class="form-control"></textarea>
							</div>
							<div class="col-md-12 text-center">
								<button type="submit" class="btn btn-outline-primary">Wyślij wiadomość</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>