<section id="customers" class="customers-section bg-gray">
	<div class="container">
		<div class="col-md-12">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="customer">
						<a href="https://getbootstrap.com/">
							<img src="img/customers/logo-1.svg" title="Bootstrap" data-placement="bottom" data-toggle="tooltip"
								alt="Bootstrap logo" class="img-fluid d-block mx-auto">
						</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="customer">
						<a href="https://pl.wordpress.org/">
							<img src="img/customers/logo-2.svg" title="Wordpress" data-placement="bottom" data-toggle="tooltip"
								alt="Wordpress logo" class="img-fluid d-block mx-auto">
						</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="customer">
						<a href="https://www.oracle.com/pl/java/technologies/java-ee-glance.html">
							<img src="img/customers/logo-3.svg" title="Java EE" data-placement="bottom" data-toggle="tooltip"
								alt="Java logo" class="img-fluid d-block mx-auto">
						</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="customer">
						<a href="https://spring.io/">
							<img src="img/customers/logo-4.svg" title="Spring" data-placement="bottom" data-toggle="tooltip"
								alt="Spring logo" class="img-fluid d-block mx-auto">
						</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="customer">
						<a href="https://flask.palletsprojects.com/">
							<img src="img/customers/logo-5.svg" title="Flask" data-placement="bottom" data-toggle="tooltip"
								alt="Flask logo" class="img-fluid d-block mx-auto">
						</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="customer">
						<a href="https://www.djangoproject.com/">
							<img src="img/customers/logo-6.svg" title="Django" data-placement="bottom" data-toggle="tooltip"
								alt="Django logo" class="img-fluid d-block mx-auto">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>