<section id="intro" style="background: url(img/home.jpg) center center no-repeat; background-size: cover;"
	class="intro-section pb-2">
	<div class="container text-center">
		<div data-animate="fadeInDown" class="logo"><img src="img/logo-big.png" alt="logo" width="130"></div>
		<h1 data-animate="fadeInDown" class="text-shadow mb-5">Witaj, Привіт, नमस्ते !</h1>
		<p data-animate="slideInUp" class="h3 text-shadow text-400">
			Zajmuje się projektowaniem stron WWW, grafiką reklamową,
			tworzeniem aplikacji webowych. Umiem programować w Javie, Pythonie, C++.
			<br />
			<br />
			<a href="cv/Kamil_Cecherz_02_05_2022_v2.pdf" id="link-cv" target="_blank">
				Pobierz moje CV
			</a>
		</p>
	</div>
</section>