<header class="header">
	<nav class="navbar navbar-expand-lg fixed-top">
		<div class="container"><a href="#intro" class="navbar-brand scrollTo">Cecherz</a>
			<button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span
					class="fa fa-bars"></span></button>
			<div id="navbarcollapse" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="#intro" class="nav-link link-scroll">Intro</a></li>
					<li class="nav-item"><a href="#about" class="nav-link link-scroll">O mnie</a></li>
					<li class="nav-item"><a href="#services" class="nav-link link-scroll">Specjalności</a></li>
					<!-- <li class="nav-item"><a href="#testimonials" class="nav-link link-scroll">Testimonials</a></li> -->
					<li class="nav-item"><a href="#references" class="nav-link link-scroll">Projekty</a></li>
					<li class="nav-item"><a href="#customers" class="nav-link link-scroll">Technologie</a></li>
					<li class="nav-item"><a href="https://cecherz.pl/" class="nav-link link-scroll"
							target="_blank">Blog</a></li>
					<li class="nav-item"><a href="#contact" class="nav-link link-scroll">Kontakt</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>