<section id="references">
	<div class="container">
		<div class="col-sm-12">
			<div class="mb-5 text-center">
				<h2 data-animate="fadeInUp" class="title">Moje projekty</h2>
				<p data-animate="fadeInUp" class="lead">Pracowałem przy różnych projektach, wybrałem dla Ciebie
					najciekawsze.</p>
			</div>
			<ul id="filter" data-animate="fadeInUp">
				<li class="active"><a href="#" data-filter="all">Wszystkie</a></li>
				<li class="active"><a href="#" data-filter="html-css">HTML/CSS</a></li>
				<li><a href="#" data-filter="wordpress">Wordpress</a></li>
				<li><a href="#" data-filter="bootstrap">Bootstrap</a></li>
				<li><a href="#" data-filter="graphic-2d">Grafika reklamowa</a></li>
				<li><a href="#" data-filter="java">Java</a></li>
				<li><a href="#" data-filter="python">Python</a></li>
			</ul>
			<div id="detail">
				<div class="row">
					<div class="col-lg-10 mx-auto"><span class="close">×</span>
						<div id="detail-slider" class="owl-carousel owl-theme"></div>
						<div class="text-center">
							<h1 id="detail-title" class="title"></h1>
						</div>
						<div id="detail-content"></div>
					</div>
				</div>
			</div>
			<!-- Reference detail-->
			<div id="references-masonry" data-animate="fadeInUp">
				<div class="row">
					<!-- PROJECT -->
					<div data-category="graphic-2d" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-g-2.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h5 reference-title">SZTUKA DOBREGO ŻYCIA</h3>
										<p>
											Współpraca ze Stow. Sztuka&nbsp;Dobrego&nbsp;Życia
										</p>
									</div>
								</div>
							</a>
							<div
								data-images="img/main-slider-g2-1.jpg,img/main-slider-g2-2.jpg,img/main-slider-g2-3.jpg,img/main-slider-g2-4.jpg,img/main-slider-g2-5.jpg,img/main-slider-g2-6.jpg,img/main-slider-g2-7.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Część banerów wykonanych podczas współpracy ze Stowarzyszeniem
									<a href="https://sztukadobregozycia.pl/">Sztuka Dobrego Życia</a>
									na przełomie lat 2018-2019.
								</p>
								<p style="text-align: justify;">
									Stowarzyszenie Sztuka Dobrego zajmuje się rozwojem osobistym, 
									medycyną niekonwecjonalną i szeroko pojętą ezoteryką. Wykonanie grafik
									wymagało ode mnie zapoznania się z niecodzienną tematyką.
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->
					<div data-category="graphic-2d" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-g-1.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h4 reference-title">PROJEKTY INSPRO</h3>
										<p>
											Współpraca z Instytutem Spraw Obywatelskich
										</p>
									</div>
								</div>
							</a>
							<div
								data-images="img/main-slider-g-1.jpg,img/main-slider-g-2.jpg,img/main-slider-g-3.png,img/main-slider-g-4.jpg,img/main-slider-g-5.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Niektóre prace wykonane w ramach współpracy z
									<a href="https://instytutsprawobywatelskich.pl/">Instytutem Spraw Obywatelskich</a>
									na przełomie lat 2012-2013.
								</p>
								<p style="text-align: justify;">
									Mile wspominam okres kiedy nabyłem pierwsze doświadczenie jako grafik,
									wykorzystując zestaw narzędzi Adobe: głównie
									<a href="https://www.adobe.com/pl/products/photoshop.html">Photoshop</a> oraz
									<a href="https://www.adobe.com/pl/products/illustrator.html">Illustrator</a>.
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->
					<div data-category="html-css" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-1.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h4 reference-title">WEB-DESIGN TOOLS</h3>
										<p>
											Interaktywna strona WWW w technologii HTML5
										</p>
									</div>
								</div>
							</a>
							<div data-images="img/main-slider1.jpg,img/main-slider2.jpg,img/main-slider3.jpg"
								class="sr-only reference-description">
								<h4 class="text-center">
									Sposoby budowania interaktywnych stron WWW w technologii HTML5,
									z wykorzystaniem narzędzi firmy Adobe.
								</h4>
								<hr />
								<p style="text-align: justify;">
									Witrynę wykonałem jako projekt zaliczeniowy studiów podyplomowych:
									<a href="http://www.kis.p.lodz.pl/podyplomowe.html?lang=pl">Grafika i Techniki
										Multimedialne w Instytucie Informatyki Stosowanej Politechniki Łódzkiej</a>
									Posłużyłem się najprostszą, a zarazem najbardziej
									fundamentalną metodą: stworzyłem witrynę odręcznie.
									Zapoznałem się z każdą linijką kodu, który osadzałem.
								</p>
								<p style="text-align: justify;">
									Projekt, który prezentuje wykorzystuje najbardziej podstawowe technologie webowe -
									HTML5
									(połączenie funkcjonalności XHTML i możliwości JavaScriptu) oraz CSS3. Odwołuje się
									w nim do
									zainteresowań związanych z projektowaniem graficznych przy pomocy ulubionych
									narzędzi firmy Adobe.
									Zamieściłem w nim obszery katalog prac różnych twórców oraz kilka swoich.
								</p>
								<p class="buttons text-center">
									<a href="http://html5.jeti.org.pl/dw.html" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-globe"></i>
										Odwiedź stronę
									</a>
									<a href="http://html5.jeti.org.pl/doc/czytaj.pdf" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-download"></i>
										Pobierz dokumentację
									</a>
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->
					<div data-category="html-css" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-10.jpg" style="width: 100%;" alt=""
									class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h4 reference-title">GWIAZDY POP</h3>
										<p>
											Galeria zdjęć gwiazd muzyki pop.
										</p>
									</div>
								</div>
							</a>
							<div data-images="img/main-slider10-1.jpg,img/main-slider10-2.jpg,img/main-slider10-3.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Strona wykonana hobbystycznie, zawiera zestaw zdjęć pięknych kobiet, gwiazd muzyki
									pop:
									<a href="https://www.beyonce.com/">Beyonce</a>,
									<a href="https://www.madonna.com/">Madonny</a>,
									<a href="https://pl.wikipedia.org/wiki/Shakira">Shakiry</a>,
									<a href="https://www.youtube.com/user/britneyspears?app=desktop&gl=PL&hl=pl">Britney
										Spears</a>
									oraz <a href="https://www.youtube.com/channel/UCgBN6eQyZPnsApiL1QW44Hg">Christiny
										Aguilery</a>.
									Witryna jest pamiątką
									z lat studiów 2013/2014 i stanowi ciekawy przykład wykorzystania efektów HTML i CSS.
								</p>
								<p style="text-align: justify;">
									Niewielki projekt, wykorzystuje najbardziej podstawowe technologie webowe.
								</p>
								<p class="buttons text-center">
									<a href="http://gwiazdy-pop.jeti.org.pl/index_1.html" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-globe"></i>
										Odwiedź stronę
									</a>
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->
					<div data-category="bootstrap" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-2.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h4 reference-title">PJS Piotr Stachowicz</h3>
										<p>Studio Grafiki i Fotografii Cyfrowej</p>
									</div>
								</div>
							</a>
							<div data-images="img/main-slider2-1.jpg,img/main-slider2-2.jpg, img/main-slider2-3.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Strona przebudowana a minimalistyczny layout wykonany od początku. Witryna wykonana
									przy pomocy frameworka <a href="https://getbootstrap.com/docs/3.3/">Bootstrap 3</a>
								</p>
								<p style="text-align: justify;">
									Wprowadzone funkcjonalności po stronie serwera: obsługa formularza kontaktowego.
									Dodanie <a href="https://www.google.pl/maps">Google Maps</a>
									oraz mapy strony dla ułatwienia nawigacji i optymalizacji pod kątem SEO.
									Modernizacja i poprawa biblioteki grafik. Stworzenie i reorganizacja list dostępnego
									asortymentu w branży DTP.
								</p>
								<p class="buttons text-center">
									<a href="http://www.pjs-studio.net.pl/index.html" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-globe"></i>
										Odwiedź stronę
									</a>
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->
					<div data-category="bootstrap" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-3.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h4 reference-title">Foto Jadwiga</h3>
										<p>Profesjonalne studio portretowe</p>
									</div>
								</div>
							</a>
							<div data-images="img/main-slider3-1.jpg,img/main-slider3-2.jpg,img/main-slider3-3.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Przebudowa struktury kodu strony Foto Jadwiga przy pomocy frameworka
									<a href="https://getbootstrap.com/docs/3.3/">Bootstrap 3</a>.
									Stronie pierwotnie tworzona w technologii Flash.
								</p>
								<p style="text-align: justify;">
									Optymilizacja, reognizacja i przebudowa galerii strony. Stworzenie układu
									kafelkowego,
									podział na kategorie w celu klarownego wyeksponowania usług. Dodanie
									<a href="https://www.google.pl/maps">Google Maps</a>, listy partnerów oraz nowej
									stopki.
									<br />
									<br />
									Pierwotny wygląd strony został zachowany mimo wprowadzenia standardu
									<a href="https://dev.w3.org/html5/spec-LC/">HTML5</a>.
								</p>
								<p class="buttons text-center">
									<a href="http://www.fotojadwiga.pl/index.html" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-globe"></i>
										Odwiedź stronę
									</a>
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->
					<div data-category="wordpress" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-4.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h4 reference-title">Drift</h3>
										<p>Autoszkoła w Łodzi</p>
									</div>
								</div>
							</a>
							<div
								data-images="img/main-slider4-1.jpg,img/main-slider4-2.jpg,img/main-slider4-3.jpg, img/main-slider4-4.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Strona obsługiwana przy pomocy silnika Wordpress. Wykonana na zlecenie
									Ośrodka Szkolenia Kierowców "Drift" Arkadiusz Domińczak w roku 2021
								</p>
								<p style="text-align: justify;">
									Wykorzystałem darmowy motyw
									<a href="https://www.vwthemes.com/themes/wp-automobile-wordpress-theme/">VW
										Autombile Lite</a>
									którego układ kolorystyczny i zestawy grafik zostały zmienione. Witryna została
									wyposażona
									w podstrony/sekcje: cennik, galeria, opinie klientów, formularz zapisu, mapy
									dojazdu, media
									społecznościowe w postaci ikon. Wykorzystałem dodatkowe CSS i HTML do stworzenia
									autonmicznych elementów
									nie wchodzących w skład motywu. Witryna korzysta z wtyczek SEO charakterycznych dla
									Wordpress'a
									zbiera statyki odwiedzin gromadząc je przy pomocy
									<a href="https://www.nazwa.pl/blog/czym-jest-google-analytics">Google Analitics</a>.
								</p>
								<p class="buttons text-center">
									<a href="https://auto-drift.pl/" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-globe"></i>
										Odwiedź stronę
									</a>
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->
					<div data-category="wordpress" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-5.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h5 reference-title">Stowarzyszenie Jeti</h3>
										<p>NGO: wsparcie i pomoc niepełnosprawnym</p>
									</div>
								</div>
							</a>
							<div
								data-images="img/main-slider5-1.jpg,img/main-slider5-2.jpg,img/main-slider5-3.jpg,img/main-slider5-4.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Strona obsługiwana przy pomocy silnika Wordpress. Strona wykonana w ramach
									obecnej współpracy z NGO, którego jestem członkiem.
								</p>
								<p style="text-align: justify;">
									Witryna, której wygląd i fukcjonalność zostały stworzone praktycznie od zera na
									bazie szablonu
									<a href="https://materialwp.com/">MaterialWP</a>. Postawiłem na minimalistyczny
									layout
									i kolorystykę. Wszystkie sekcje zostały stworzony o oparciu o prywatne zdjęcia.
									Identyfikacja wizualna
									obecna na stronie: logo i barwy - zostały wcześniej opracowane przeze mnie. Praca
									bezpośrednio na plikach
									szablonu napisanych w PHP.
								</p>
								<p class="buttons text-center">
									<a href="https://www.jeti.org.pl/" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-globe"></i>
										Odwiedź stronę
									</a>
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT 8 -->
					<div data-category="java" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-6.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h4 reference-title">SEKP</h3>
										<p>System eweidencji kompetencji pracownika</p>
									</div>
								</div>
							</a>
							<div
								data-images="img/main-slider6-1.jpg,img/main-slider6-2.jpg,img/main-slider6-3.jpg, img/main-slider6-4.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Aplikacja webowa napisana przy użyciu platformy
									<a href="https://www.oracle.com/pl/java/technologies/java-ee-glance.html">Java
										Enterprise</a>.
									Projekt na zaliczenie studiów
									podyplomowych <a href="http://java-podyplomowe.it.p.lodz.pl">"Nowoczesne aplikacje
										biznesowe w Java EE"</a>.
									Stos technologiczny: EJB, Java Persitence Api,
									MySQL, JSP, JavaScript. Narzędzia: NetBeans, GlassFish, Maven
								</p>
								<p style="text-align: justify;">
									Aplikacja o architekturze <a
										href="https://www.tutorialspoint.com/design_pattern/mvc_pattern.htm">MVC</a>
									zapewniającej jej łatwość w konserwacji i skalowalność.
									System umożliwia agregację i edycję danych użytkowników wraz z poziomami uprawnień.
									Zadaniem programu jest przechowywanie danych kompetencjach pracowników firmy, takich
									jak: historia zatrudnienia, spis ukończonych uczelni oraz szkoleń, rodzaje nabytych
									umiejętności.
									Witryna pozwala na filtrowanie wyświetlonych danych celem szybkiego wyszukania
									istotnych danych.
								</p>
								<hr />
								<p style="text-align: justify; font-style: italic;">
									W części praktycznej pracy zrealizowany został system informatyczny umożliwiający
									gromadzenie
									informacji o pracownikach i kwalifikacjach przez nich nabywanych, a takż e
									wyszukiwanie
									pracowników m. in. w oparciu o w/w dane. System ten został zrealizowany w formie
									aplikacji
									na platformę Java EE zgodnie z tematyką studiów. Aplikacja realizuje założone
									funkcje w sposób
									platformę Java EE zgodnie z tematyką studiów. Aplikacja realizuje założone funkcje w
									sposób poprawny.
									Warto nadmienić użycie przez Autora nowoczesnego Criteria API do konstruowania
									złożonych zapytań
									bazodanowych.
									<br />
									<br />
									<i>Opiekun pracy: dr inż. Michał Karbowańczyk</i>
								</p>
								<p class="buttons text-center">
									<a href="#" class="btn btn-outline-primary disabled">
										<i class="fa fa-globe" target="_blank"></i> Odwiedź stronę
									</a>
									<a href="https://drive.google.com/file/d/1NBXHHFKqLO49TuhxZ5Jsys_BnXCp26Ak/view"
										class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-download"></i> Pobierz dokumentację
									</a>
									<a href="https://github.com/pangeon/SEKP" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-github"></i> Github
									</a>
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->
					<div data-category="python" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-7.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h4 reference-title">Taskello</h3>
										<p>Prosty i funkcjonalny planner zadań.</p>
									</div>
								</div>
							</a>
							<div
								data-images="img/main-slider7-1.jpg,img/main-slider7-2.jpg,img/main-slider7-3.jpg,img/main-slider7-4.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Aplikacja napisana w Pythonie przy użyciu frameworka <a
										href="https://flask.palletsprojects.com/">Flask</a>
									oraz baz danych <a href="https://www.mysql.com/">MySQL</a> podczas współpracy z
									Dianet Agency w ramach stażu,
									jako skuteczne narzędzie do planowania w firmie.
								</p>
								<p style="text-align: justify;">
									Prototyp aplikacji stworzony do zarządzania podziałem, zakresem i czasem zadań
									pracowników.
									System pozwala na organizację obowiązków uwzględniając ich kategorie. Umożliwia
									wyspecyfikowanie dla konkretnego zlecenia linku z załącznikiem, priorytetu, statusu,
									ram czasowych: początek i zakończenie. Wgląd do danych systemu jest możliwy po
									uprzedniej rejestracji
									poprzez witrynę WWW.
								</p>
								<p class="buttons text-center">
									<a href="#" class="btn btn-outline-primary disabled" target="_blank">
										<i class="fa fa-globe"></i> Odwiedź stronę
									</a>
									<a href="https://drive.google.com/drive/folders/1_I8ncht73KGMFiQPxfCGAd6vTOVJUFb8?usp=sharing"
										class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-download"></i> Pobierz VM
									</a>
									<a href="https://github.com/pangeon/Taskello" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-github"></i> Github
									</a>
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->
					<div data-category="java" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-8.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h4 reference-title">calc-bill</h3>
										<p>Aplikacja do porządkowania rachunków.</p>
									</div>
								</div>
							</a>
							<div data-images="img/main-slider8-1.jpg,img/main-slider8-2.jpg,img/main-slider8-3.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Program napisany w Javie z wykorzystaniem frameworka <a href="https://spring.io/">Spring</a> oraz
									baz danych <a href="https://www.mysql.com/">MySQL</a>.
									Projekt zaliczeniowy studiów inżynierskich z informatyki, podczas obrony pracy o
									pt. <i>RESTful WebAPI dla technologii Java.</i>
								</p>
								<p style="text-align: justify;">
									Aplikacja przeznaczona do porządkowania rachunków w gospodarstwie domowym.
									Stworzona w celu łatwiejszego zarządzania budżetem.
									Pozwala na robienie oszczędności poprzez monitorowanie
									poszczególnych zakupów. System posiada własne <a href="https://restfulapi.net/">REST-API</a>.
									Program pozwala na edycji użytkowników i przypisanym im płatności, zapewnia
									możliwość filtrowania danych.
								</p>
								<p class="buttons text-center">
									<a href="#" class="btn btn-outline-primary disabled" target="_blank">
										<i class="fa fa-globe"></i>
										Odwiedź stronę
									</a>
									<a href="https://drive.google.com/file/d/10wX_dlgCzSWDs4vBfZCbf95AF1trfF8r/view"
										class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-download"></i>
										Pobierz dokumentację
									</a>
									<a href="https://github.com/pangeon/calc-bill" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-github"></i>
										Github
									</a>
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->
					<div data-category="java" class="reference-item col-lg-3 col-md-6">
						<div class="reference"><a href="#"><img src="img/portfolio-9.jpg" alt="" class="img-fluid gainsboro-frame">
								<div class="overlay">
									<div class="inner">
										<h3 class="h4 reference-title">JMTrain</h3>
										<p>Zarządzanie bazą szkoleń.</p>
									</div>
								</div>
							</a>
							<div
								data-images="img/main-slider9-1.jpg,img/main-slider9-2.jpg,img/main-slider9-3.jpg,img/main-slider9-4.jpg"
								class="sr-only reference-description">
								<p style="text-align: justify;">
									Program napisany w Javie z wykorzystaniem bibliotek frameworka <a href="https://spring.io/">Spring</a>
									oraz
									baz danych <a href="https://www.mysql.com/">MySQL</a>.
									Prosty layout panel zarządzania napisany z wykorzystaniem <a
										href="https://getbootstrap.com/">Bootstrapa</a>.
								</p>
								<p style="text-align: justify;">
									Aplikacja pozwala na zarządzanie szkoleniami.
									Program umożliwia edycję danych osobowych użytkowników oraz dodawanie zapisów na
									kursy.
									System jest bezpieczny - wysyła potwierdzenie e-mailem po rejestracji oraz chroni
									hasła.
									Szyfruje wrażliwe dane przy użyciu <a hre="https://pl.wikipedia.org/wiki/MD5">algorytmu MD5</a>.
								</p>
								<p class="buttons text-center">
									<a href="#" class="btn btn-outline-primary disabled" target="_blank">
										<i class="fa fa-globe"></i>
										Odwiedź stronę
									</a>
									<a href="https://github.com/pangeon/JMTrain" class="btn btn-outline-primary" target="_blank">
										<i class="fa fa-github"></i>
										Github
									</a>
								</p>
							</div>
						</div>
					</div>
					<!-- PROJECT -->

				</div>
			</div>
		</div>
	</div>
</section>