<section id="services" class="bg-gradient services-section">
	<div class="container">
		<header class="text-center">
			<h2 data-animate="fadeInDown" class="title">Specjalności</h2>
		</header>
		<div class="row services text-center">
			<div data-animate="fadeInUp" class="col-lg-4">
				<div class="icon"><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
				<h3 class="heading mb-3 text-400">Grafika reklamowa</h3>
				<p class="text-center description">
					Banery reklamowe, broszury do druku, infografiki, logo, identyfikacja wizualna, prezentacje,
					wykonywanie i obróbka zdjęć.
					<br />
					<br />
					<strong>Photoshop, Illustrator, Flash, Indesign, Corel Draw</strong>
				</p>
			</div>
			<div data-animate="fadeInUp" class="col-lg-4">
				<div class="icon"><i class="fa fa-html5"></i></div>
				<h3 class="heading mb-3 text-400">Webdesign</h3>
				<p class="text-center description">
					Strony firmowe, kodowanie layoutów, witryny z wykorzystaniem CMS-ów: sklepy, blogi, platformy edukacyjne.
					<br />
					<br />
					<strong>HTML/CSS, Bootstrap, Wordpress</strong>
				</p>
			</div>
			<div data-animate="fadeInUp" class="col-lg-4">
				<div class="icon"><i class="fa fa-code"></i></div>
				<h3 class="heading mb-3 text-400">Programowanie</h3>
				<p class="text-center description">
					Aplikacje webowe: administracja, wdrożenia i wsparcie. Obsługa gotowych systemów, tworzenie i poprawa
					funkcjonalności.
					<br />
					<br />
					<strong>Spring, Django, REST, C++</strong>
				</p>
			</div>
		</div>
		<hr data-animate="fadeInUp">
		<div data-animate="fadeInUp" class="text-center">
			<p class="lead">Chcesz dowiedzieć się więcej lub po prostu o czymś porozmawiać?</p>
			<p><a href="#contact" class="btn btn-outline-light link-scroll">Napisz do mnie</a></p>
		</div>
	</div>
</section>
<section id="statistics" data-dir="up" style="background: url(&quot;img/parallax.jpg&quot;);"
	class="statistics-section text-white parallax parallax">
	<div class="container">
		<div class="row showcase text-center">
			<div data-animate="fadeInUp" class="col-lg-3 col-md-6">
				<div class="item">
					<div class="icon"><i class="fa fa-file-code-o" aria-hidden="true"></i></div>
					<h5 class="text-400 mt-4 text-uppercase"><span class="counter">9</span><br>Projekty HTML/CSS</h5>
				</div>
			</div>
			<div data-animate="fadeInUp" class="col-lg-3 col-md-6">
				<div class="item">
					<div class="icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
					<h5 class="text-400 mt-4 text-uppercase"><span class="counter">4</span><br>Strony oparte o CMS-y</h5>
				</div>
			</div>
			<div data-animate="fadeInUp" class="col-lg-3 col-md-6">
				<div class="item">
					<div class="icon"><i class="fa fa-terminal" aria-hidden="true"></i></div>
					<h5 class="text-400 mt-4 text-uppercase"><span class="counter">4</span><br>Aplikacje webowe</h5>
				</div>
			</div>
			<div data-animate="fadeInUp" class="col-lg-3 col-md-6">
				<div class="item">
					<div class="icon"><i class="fa fa-star-half-o" aria-hidden="true"></i></div>
					<h5 class="text-400 mt-4 text-uppercase"><span class="counter">177</span><br>Projekty graficzne</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="dark-mask"></div>
</section>